.main {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 15px;
    margin: 5px;
}


.filtre-pc {

    grid-template-columns: 1/2;
    background-color: #ffffff;
    width: auto;
    height: 100vh;
}

.products-container {
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    grid-column: 2/3;
    flex-direction: row;
    background: #ffffff;

}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.884);
    backdrop-filter: blur(38px);

    max-width: 390px;
    min-width: 300px;
    height: 500px;
    margin: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 4px 3px rgba(0, 0, 0, 0.22);
    transition: .4s;
    border: 1px solid #ff3fa4;
    width: 34%;
    


}

.product-card:hover {
    box-shadow: 0px 3px 6px #ff3fa53b, 0 3px 6px #ff4a2e3c;
    transform;
    translate(0px, -8px);

    .card {
        background: linear-gradient(270deg, #ff3fa4 0%, #ff4b2e 100%);
        color: #FFF;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: .4s;
        border: 6px solid #FFF;
        backdrop-filter: blur(2995px);
        
    }
   
}

.card {

    padding: 5px;
    text-align: center;
    color: #000;
    font-family: 'Rubik', sans-serif;
    margin: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    border-radius: 19px;
    background: #FFF;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    
}

.image-produit {
    width: 230px !important;
    height: 230px !important;
    
}

.fonction-card {
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;
    grid-template-rows: 50px 30px 75px;
    position: absolute;
    /* transform: translateY(250px); */
    bottom: 0;
}

#fonction-card-un {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-top: 15px;
}

#fonction-card-deux {
    grid-column: 3/4;
    grid-row: 2/3;
}

#fonction-card-trois {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-right: 5px;
    padding-top: 15px;
}

#fonction-card-quatre {
    grid-column: 3/4;
    grid-row: 3/4;
    padding-top: 25px;
}


