body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;

}

a {
    text-decoration: none;
    color: #000000;
}

header {
    background-color: #f8f8f8;
    padding: 20px 0;
    outline: 1px solid linear-gradient(270deg, #ff3fa4 0%, #ff4b2e 100%);
    box-shadow: 0 0 1px #1d1d1d;

}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
}

.logo {
    width: 50px;
    height: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: 100px;
    padding-right: 150px;
    width: 40%;
}

.search-bar input {
    border: 1px solid #000000;
    border-radius: 10px 0 0 10px;
    padding: 7px 10px;
    padding-right: 50%;
    font-size: 16px;


}

.search-bar button {
    background: linear-gradient(270deg, #ff3fa4 0%, #ff4b2e 100%);
    border: 1px solid black;
    color: white;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 0 10px 10px 0;
}

.user-options {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    padding-right: 15px;
}

.user-options img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

a.user-options {
    margin: 0;

}

.featured {
    padding: 2rem;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    margin: 1rem 0;
}

.product .price {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.product .eco {
    font-size: 0.8rem;
    color: #999;
}



/*////////////////connexion/////////////////*/
.connexion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 16px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px rgb(0, 0, 0);
    border-radius: 15px;
    margin-bottom: 35px;
}

h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.formulaire {
    align-items: center;
}

.container input[type="text"],
.container input[type="password"] {
    align-items: center;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;

}

.container input[type="submit"] {
    background: linear-gradient(270deg, #ff3fa4 0%, #ff4b2e 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.container input[type="submit"]:hover {
    background: linear-gradient(170deg, #ff3fa4 0%, #ff4b2e 100%);
}


/*///////////////////footer/////////////////*/
.footer_ligne1 {
    display: flex;
    justify-content: space-around;
}

.footer_res {
    display: flex;
}


.footer_ligne2 {
    display: flex;
    justify-content: center;
}

footer {
    position: static;
    height: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 5px #1d1d1d;
    margin-bottom: -1px;
}

.footer_logo {
    scale: 0.7;
    margin-left: -40px;
}

.footer_texteimp {
    font-weight: 200;
    font-size: 1.2em;
    padding-left: 20px;
}

.footer_align {
    margin-top: 25px;
}

.lien_footer {
    color: black;
}

.footer_none {
    color: white;
}

.footer_lignecourte {
    margin-top: 40px;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}

.footer_res {
    text-align: start;
}

.footer_cercle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.footer_logo_milieu {
    margin-left: 5px;
    margin-right: 5px;
}

.footer_cercle img {
    width: 20px;
}

.footer_gauche {
    float: left;
    width: 33.33%;
    height: 100px;
    margin-left: 100px;
}

.footer_milieu {
    display: inline-block;
    text-align: center;
    width: 33.33%;
    height: 100px;
}

.footer_droite {
    float: right;
    width: 33.33%;
    height: 100px;
    text-align: end;
    margin-right: 100px;
}

footer .footer_email {
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid black;
}

footer .footer_envoyer {
    padding: 10px;
    height: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    background: linear-gradient(270deg, #ff3fa4 0%, #ff4b2e 100%);
    cursor: pointer;
}

.footer_news {
    display: flex;
    flex-direction: row;
}

/*///////////////welcome view///////////*/
.info_utilisateur {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 5px 0px rgb(0, 0, 0);

}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 16px;
    background-color: white;
    
}

.bouton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #ff3fa4;
    color: #ff4b2e;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    margin  : 5px;
}

.bouton:hover {
    background-color: #ff2201;
    color: #fff;
}

/*/////////////carrousel////////////*/

.sectioncarou {
    background: linear-gradient(270deg, #ff3fa4 0%, #ff4b2e 100%);
    padding: 30px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    max-height: 540px;
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);;

}

.imagecarou {
    max-height: 530px;
    width: 100%;
    border-radius: 5px;
}

[carrousel] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(141, 167, 198, 0.2);
    box-shadow: 20px 20px 40px 3px rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 100%;
    max-height: 540px;
    min-height: 50vh;



    &::before {
        content: '';
        display: block;
        padding-bottom: 50%;
    }

    [name~="carrousel"] {
        display: none;

        &:checked {
            +.slide {
                pointer-events: auto;
                opacity: 1;

                .slide-content {
                    opacity: 1;
                }
            }
        }
    }

    .slide {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide-content {
        opacity: 0;
        transition: opacity 1s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 560px;
    }

    .back,
    .forward {
        display: block;
        position: absolute;
        top: calc(50% - 3rem);
        height: 4rem;
        width: 3rem;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        font-size: 1.0rem;
        border-radius: 20px;
        box-shadow: 0 2px 0 0 rgba(black, .1);
        transform: scale(.9);
        transition: transform .2s;

        &:hover {
            transform: scale(1);
            background-color: rgb(255, 255, 255);
            box-shadow: 20px 20px 40px 3px rgba(0, 0, 0, 0.3);
            border-left: 1px solid rgba(255, 255, 255, .3);
            border-top: 1px solid rgba(255, 255, 255, .3);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            -moz-backdrop-filter: blur(10px);
        }
    }

    .back {
        left: calc(0% + 1rem);
    }

    .forward {
        right: calc(0% + 1rem);
    }
}


[carrousel] {
    h1 {
        font-size: 1rem;
        color: white;
        text-shadow: 0 3px 0 rgba(black, .2);
    }
}